/* TRANSFORMATIONS */




/* BASE STYLES
------------------------------------- */
body {
    margin: 0;
    padding: 0.5em;
    background-color: forestgreen;
    color: black;
    font-family: sans-serif;
}

img {
    max-width: 100%;
}





/* NAVIGATION
------------------------------------- */
nav {

}

nav a {

}

nav a:hover {

}





/* HOME PAGE
------------------------------------- */
main {
    background-image: url(images/leaf-skeleton.png);
    background-size: cover;
    background-position: center;
    mix-blend-mode: multiply;
}

.leaf-1 {
    opacity: 0.6;
    position: relative;
    right:0;
    width: 80vw;
    z-index: 1;
    transform: skewX(-5deg) skewy(-10deg) scaleY(1) scaleX(1) translate(120px);
    filter:brightness(0.9);
}

.leaf-2 {
    position: absolute;
    opacity: 0.8;
    right: 0;
    width: 35vw;
    transform: rotate(-15deg);
    filter:blur(2px);
}

.leaf-3 {
    position: absolute;
    opacity: 0.8;
    left: 0;
    width: 35vw;
    transform: scaleY(-1) rotate(10deg) skewY(10deg) translate(-120px, -80%);
    filter:blur(2px);
}

/* GALLERY PAGE
------------------------------------- */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5em;
    max-width: 50em;
    margin: 5em auto;
}

.gallery-item {
    padding: 0.5em;
    border: 1px solid black;
    display: grid;
    align-items: end;
    background: white;
}



